# Solutions:

In [ ]:
#firstly importing all the required libraries

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

1.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

#opening up amazon.com website on automated chrome window

driver.get('https://www.amazon.in/')

#finding element for product search bar

search_bar=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

#sending keys by user input

x=str(input('Enter the product name: '))
search_bar.send_keys(x)

#importing exception

from selenium.common.exceptions import ElementNotInteractableException

#for search button
try:
    search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span')
    search_button.click()
except ElementNotInteractableException:
    search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
    search_button.click()

2.

In [30]:
#reruning above codes and entering "CHAIN" in product search bar

In [ ]:
#importing some libraries

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [ ]:
bname=[]
pname=[]
price=[]
exp=[]
URL=[]

for j in range(0,3):
    for i in driver.find_elements_by_xpath("//h5[@class='s-line-clamp-1']"):
        bname.append(i.text)
    for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']"):
        pname.append(i.text)
    for i in driver.find_elements_by_xpath("//div[@class='a-row a-size-base a-color-base']"):
        price.append(i.text.replace('\n','--'))
    for i in driver.find_elements_by_xpath("//div[@class='a-row a-size-base a-color-secondary s-align-children-center']"):
        exp.append(i.text.replace('\n','--'))
    for i in driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
        URL.append(i.get_attribute('href'))
        
    #for next button
    driver.find_element_by_xpath("//a[@class='s-pagination-item s-pagination-next s-pagination-button s-pagination-separator']").click()
    time.sleep(10)

In [ ]:
#deleting a particular index from the lists because of the null value in one of the list

del bname[113]
del pname[113]
del price[113]
del URL[113]

In [ ]:
#checkig the length of the lists formed

print(len(bname),len(pname),len(price),len(exp),len(URL))

In [99]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'BRAND NAME':bname,'PRODUCT DESCRIPTION':pname,'PRICE':price,'DELIVERY':exp,'URL':URL})
df

,BRAND NAME,PRODUCT DESCRIPTION,PRICE,DELIVERY,URL
0,Madame,Multi Chain Metal Necklace,₹899,FREE Delivery by Amazon,https://www.amazon.in/gp/slredirect/picassoRed...
1,Silver Style,Men's Sterling-Silver Italian Jewelry 2 MM Fox...,"₹1,826--₹2,435 -25%","Get it by Monday, May 23--FREE Delivery by Amazon",https://www.amazon.in/gp/slredirect/picassoRed...
2,MELORRA,18 kt 18kt Rose Gold Ball Chain Gold Chain,"₹21,967--₹30,877 -29%","Get it by Monday, June 13",https://www.amazon.in/gp/slredirect/picassoRed...
3,THESTO,Mutlilayered Chain Necklace,₹399--₹599 -33%,"Get it by Monday, May 23",https://www.amazon.in/gp/slredirect/picassoRed...
4,MEENAZ,Jewellery Stainless Steel Valentine Long Chain...,"₹294--₹3,500 -92%",FREE Delivery on first order.,https://www.amazon.in/MEENAZ-Silver-Plated-Cha...
...,...,...,...,...,...
174,Brado Jewellery,Combo of 3 Traditional One Gram Gold Long Chai...,₹249--₹999 -75%,"Get it by Tuesday, May 24--FREE Delivery on fi...",https://www.amazon.in/Brado-Jewellery-Traditio...
175,BEATNIK,Bohemian Brass Silver Oxidised Necklace,"₹449--₹1,199 -63%","Get it by Saturday, May 21--FREE Delivery on f...",https://www.amazon.in/gp/slredirect/picassoRed...
176,Silver Style,Personalized Customized Name Enamel Heart Neck...,"₹720--₹2,500 -71%","Get it by Friday, May 27",https://www.amazon.in/gp/slredirect/picassoRed...
177,Destiny Jewel's,Destiny Jewels Stylish Layered Gold Plated Mul...,₹239--₹999 -76%,"Get it by Monday, May 23",https://www.amazon.in/gp/slredirect/picassoRed...
178,Ratnavali Jewels,Five Layer Multi-Colour Real Ruby Emerald Onyx...,"₹959--₹2,000 -52%","Get it by Sunday, May 22--FREE Delivery by Amazon",https://www.amazon.in/gp/slredirect/picassoRed...

In [ ]:
#for a csv file

df.to_csv('chainonamazon.csv')

In [ ]:
#closing the driver

driver.close()

3.

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
driver.get('https://images.google.com/')

In [ ]:
#defining a function

def images(x):
    driver.get('https://images.google.com/')
    time.sleep(2)
    search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
    x=str(input('Enter the product name: '))
    search_bar.send_keys(x)
    time.sleep(3)
    search_button=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
    search_button.click()

In [ ]:
images(x)

In [ ]:
#for fruits

fruits=[]
for i in driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")[0:10]:
    fruits.append(i.get_attribute('src'))

In [ ]:
images(x)

In [ ]:
#for cars

car=[]
for i in driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")[0:10]:
    car.append(i.get_attribute('src'))

In [ ]:
images(x)

In [ ]:
#for ml

ml=[]
for i in driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")[0:10]:
    ml.append(i.get_attribute('src'))

In [ ]:
images(x)

In [ ]:
#for guitars

guitar=[]
for i in driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")[0:10]:
    guitar.append(i.get_attribute('src'))

In [ ]:
images(x)

In [ ]:
#for cake

cake=[]
for i in driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")[0:10]:
    cake.append(i.get_attribute('src'))

In [40]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'Fruits':fruits,'Cars':car,'Machine Learning':ml,'Guitars':guitar,'Cakes':cake})
df

,Fruits,Cars,Machine Learning,Guitars,Cakes
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [151]:
#closing the driver

driver.close()

4.

In [ ]:
#opening up flipkart.com website on automated chrome window

driver.get('https://www.flipkart.com/')

In [ ]:
#search bar 

driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys(str(input('Enter smartphone name/brand: ')))

In [ ]:
#search button

driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

#scraping name description

productdescription=[]
for i in driver.find_elements_by_xpath("//div[@class='_4rR01T']"):
    productdescription.append(i.text)
    
#slicing for name

pname=[]
for i in productdescription:
    i=(i[:i.index('(')]).strip()
    pname.append(i)
    
#slicing for color

color=[]
for i in productdescription:
    i=i[i.index('(')+1:i.index(',')]
    color.append(i)

#slicing for ROM

ROM=[]
for i in productdescription:
    i=i[i.index(',')+2:-1]
    ROM.append(i)   

#scraping product's features description

description=[]
for i in driver.find_elements_by_xpath("//li[@class='rgWa7D']"):
    description.append(i.text)
    
#slicing for ROM

RAM=[]
for i in description[::5]:
    i=(i[:9]).strip()
    RAM.append(i)
    
#slicing for display

Display=[]
for i in description[1::5]:
    Display.append(i)
    
#slicing for rear camera

rcamera=[]
for i in description[2::5]:
    rcamera.append(i)
    
#slicing for battery

battery=[]
for i in description[3::5]:
    battery.append(i)
    
#slicing for price

price=[]
for i in driver.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']"):
    price.append(i.text)
    
#slicing for url

url=[]
for i in driver.find_elements_by_xpath("//a[@class='_1fQZEK']"):
    url.append(i.get_attribute('href'))

In [ ]:
#checking the length of the lists created

print(len(pname),len(color),len(RAM),len(ROM),len(Display),len(rcamera),len(battery),len(price),len(url))

In [259]:
#finally creating dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'Product Name':pname,'Color':color,'RAM':RAM,'ROM':ROM,'Display':Display,'Rear Camera':rcamera,'Battery':battery,'Price':price,'URL':url})

In [260]:
df

,Product Name,Color,RAM,ROM,Display,Rear Camera,Battery,Price,URL
0,OnePlus Nord 2 5G,Gray Sierra,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹29,568",https://www.flipkart.com/oneplus-nord-2-5g-gra...
1,OnePlus Nord CE 2 Lite 5G,Black Dusk,6 GB RAM,128 GB,16.74 cm (6.59 inch) Display,64MP Rear Camera,5000 mAh Battery,"₹19,999",https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus Nord 2 5G,Blue Haze,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-blu...
3,OnePlus Nord 2 5G,Blue Haze,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹29,934",https://www.flipkart.com/oneplus-nord-2-5g-blu...
4,OnePlus Nord CE 2 5G,Gray Mirror,6 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹25,990",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
5,OnePlus Nord CE 2 5G,Bahama Blue,6 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹25,990",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
6,OnePlus Nord CE 2 Lite 5G,Black Dusk,8 GB RAM,128 GB,16.74 cm (6.59 inch) Display,64MP Rear Camera,5000 mAh Battery,"₹21,999",https://www.flipkart.com/oneplus-nord-ce-2-lit...
7,OnePlus Nord CE 2 Lite 5G,Blue Tide,6 GB RAM,128 GB,16.74 cm (6.59 inch) Display,64MP Rear Camera,5000 mAh Battery,"₹19,990",https://www.flipkart.com/oneplus-nord-ce-2-lit...
8,OnePlus Nord CE 2 Lite 5G,Blue Tide,8 GB RAM,128 GB,16.74 cm (6.59 inch) Display,64MP Rear Camera,5000 mAh Battery,"₹21,990",https://www.flipkart.com/oneplus-nord-ce-2-lit...
9,OnePlus Nord 2 5G,Gray Sierra,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-gra...
10,OnePlus Nord CE 2 5G,Bahama Blue,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
11,OnePlus Nord 2 5G,Green Wood,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-gre...
12,OnePlus Nord CE 2 5G,Gray Mirror,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹24,995",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
13,OnePlus Nord 2 5G,PAC-MAN,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,50MP Rear Camera,4500 mAh Battery,"₹34,990",https://www.flipkart.com/oneplus-nord-2-5g-pac...
14,OnePlus Nord CE 5G,Silver Gray,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-5g-si...
15,OnePlus Nord CE 5G,Charcoal Ink,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹27,999",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
16,OnePlus Nord CE 5G,Charcoal Ink,6 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹20,999",https://www.flipkart.com/oneplus-nord-ce-5g-ch...
17,OnePlus Nord CE 5G,Blue Void,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
18,OnePlus Nord CE 5G,Blue Void,12 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹30,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
19,OnePlus Nord CE 5G,Blue Void,6 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹22,999",https://www.flipkart.com/oneplus-nord-ce-5g-bl...
20,OnePlus Nord CE 5G,Silver Ray,12 GB RAM,256 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹26,999",https://www.flipkart.com/oneplus-nord-ce-5g-si...
21,OnePlus Nord CE 5G,Silver Ray,6 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹22,499",https://www.flipkart.com/oneplus-nord-ce-5g-si...
22,OnePlus Nord CE 5G,Charcoal Ink,8 GB RAM,128 GB,16.33 cm (6.43 inch) Display,64MP Rear Camera,4500 mAh Battery,"₹24,999",https://www.flipkart.com/oneplus-nord-ce-5g-ch...

In [ ]:
#saving file to csv

df.to_csv('smartphones.csv')

In [ ]:
#closing the driver

driver.close()

5.

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
driver.get('https://www.google.com/maps')

In [5]:
search_field=driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div[2]/div[3]/div/input[1]')
search_field.send_keys(str(input('Enter the place name:')))
driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button').click()

Enter the place name:Alwar

6.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

#opening up trak.in website on automated chrome window

driver.get('https://www.trak.in/')

#clicking on funding deals

url=driver.find_element_by_xpath('/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/ul/li[1]/a').get_attribute('href')

driver.get(url)

In [ ]:
#importing required libraries

from bs4 import BeautifulSoup
import requests

#sending request th webpage server

page=requests.get('https://trak.in/india-startup-funding-investment-2015/')

#creating soup

soup=BeautifulSoup(page.content)

In [ ]:
#scraping our first table

table1=[]
for i in soup.find_all('td')[45:108]:
    table1.append(i.text)

In [ ]:
#slicing for the desired results

Sr=table1[::9]
date=table1[1::9]
name=table1[2::9]
ver=table1[3::9]
sver=table1[4::9]
city=table1[5::9]
iname=table1[6::9]
itype=table1[7::9]
amount=table1[8::9]

In [125]:
#finally forming dataframe

import pandas as pd

df1=pd.DataFrame({'Sr No.':Sr,'Date':date,'Startup Name':name,'Industry/Vertical':ver,'Sub-Vertical':sver,'City/Location':city,"Investor's Name":iname,'Investment Type':itype,'Amount(in USD)':amount})
df1.style.set_caption('MARCH 2021')

In [ ]:
#scraping second table

table2=[]
for i in soup.find_all('td')[108:189]:
    table2.append(i.text)

In [ ]:
#slicing for desired results

Sr=table2[::9]
date=table2[1::9]
name=table2[2::9]
ver=table2[3::9]
sver=table2[4::9]
city=table2[5::9]
iname=table2[6::9]
itype=table2[7::9]
amount=table2[8::9]

In [123]:
#finally forming dataframe

import pandas as pd

df2=pd.DataFrame({'Sr No.':Sr,'Date':date,'Startup Name':name,'Industry/Vertical':ver,'Sub-Vertical':sver,'City/Location':city,"Investor's Name":iname,'Investment Type':itype,'Amount(in USD)':amount})
df2.style.set_caption('FEBRUARY 2021')

In [ ]:
#scraping third table

table3=[]
for i in soup.find_all('td')[189:261]:
    table3.append(i.text)

In [ ]:
#slicing for desired results

Sr=table3[::9]
date=table3[1::9]
name=table3[2::9]
ver=table3[3::9]
sver=table3[4::9]
city=table3[5::9]
iname=table3[6::9]
itype=table3[7::9]
amount=table3[8::9]

In [127]:
#finally forming dataframe

import pandas as pd

df3=pd.DataFrame({'Sr No.':Sr,'Date':date,'Startup Name':name,'Industry/Vertical':ver,'Sub-Vertical':sver,'City/Location':city,"Investor's Name":iname,'Investment Type':itype,'Amount(in USD)':amount})
df3.style.set_caption('JANUARY 2021')

In [ ]:
#closing the driver 

driver.close()

7.

In [ ]:
#connecting the driver

driver=webdriver.Chrome('chromedriver.exe')

#getting digit.in site on automated window

driver.get('https://www.digit.in/')

#clicking on laptops option 

driver.find_element_by_xpath('/html/body/div[1]/div/div[4]/ul/li[3]/a').click()

#clicking on best gaming laptop in India option 

driver.find_element_by_xpath('/html/body/div[6]/div/div[2]/div[2]/ul/li[10]/a').click()

#scraping names

name=[]
for i in driver.find_elements_by_xpath("//div[@class='TopNumbeHeading active sticky-footer']"):
    i=i.text
    i=i[i.index('\n')+1:]
    name.append(i)
    
#scraping products feature description

descrip=[]
for i in driver.find_elements_by_xpath("//div[@class='Wrap-pop']"):
    descrip.append(i.text.replace('\n','-'))
    
#slicing for OS

OS=[]
for i in descrip[::4]:
    i=i[i.index('-')+1:]
    OS.append(i)
    
#slicing for display

dis=[]
for i in descrip[1::4]:
    i=i[i.index('-')+1:]
    dis.append(i)
    
#slicing for processor

pro=[]
for i in descrip[2::4]:
    i=i[i.index('-')+1:]
    pro.append(i)
    
#slicing for memory

memo=[]
for i in descrip[3::4]:
    i=i[i.index('-')+1:]
    memo.append(i)

In [ ]:
#checking the length of the lists formed

print(len(name),len(OS),len(dis),len(pro),len(memo))

In [292]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'Laptop name':name,'OS':OS,'Display':dis,'Processor':pro,'Memory':memo})
df.index+=1

In [293]:
df.style.set_caption('BEST GAMING LAPTOPS IN INDIA')

In [ ]:
#closing the driver

driver.close()

8.

In [ ]:
#connecting the driver

driver=webdriver.Chrome('chromedriver.exe')

#getting digit.in site on automated window

driver.get('https://www.forbes.com/')

#clicking on explore button

driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[1]/button[1]').click()

#clicking on all billionaires

driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[1]').click()

#scraping ranks

rank=[]
for i in driver.find_elements_by_xpath("//div[@class='rank']"):
    rank.append(i.text)
    
#scraping names

name=[]
for i in driver.find_elements_by_xpath("//div[@class='personName']"):
    name.append(i.text)
    
#scraping net worth

worth=[]
for i in driver.find_elements_by_xpath("//div[@class='netWorth']"):
    worth.append(i.text)
    
#scraping age

age=[]
for i in driver.find_elements_by_xpath("//div[@class='age']"):
    age.append(i.text)
    
#scraping country

country=[]
for i in driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']"):
    country.append(i.text)
    
#scraping source

source=[]
for i in driver.find_elements_by_xpath("//span[@class='source-text']"):
    source.append(i.text)
    
#scraping industry type

industry=[]
for i in driver.find_elements_by_xpath("//div[@class='category']"):
    industry.append(i.text)

In [ ]:
#checking length of the lists formed

print(len(rank),len(name),len(worth),len(age),len(country),len(source),len(industry))

In [ ]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'RANK':rank,'NAME':name,'NET WORTH':worth,'AGE':age,'COUNTRY/TERRITORY':country,'SOURCE':source,'INDUSTRY':industry})
df.set_index('RANK')

In [323]:
df.style.set_caption("WORLD'S BILLIONAIRES")

In [ ]:
#closing the driver

driver.close()

9.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
#opening up youtube.com website on automated chrome window

driver.get('https://www.youtube.com/')

In [ ]:
#entering video name in the search bar

driver.find_element_by_xpath('/html/body/ytd-app/div[1]/div/ytd-masthead/div[3]/div[2]/ytd-searchbox/form/div[1]/div[1]/input').send_keys('N95')

In [ ]:
#clicking on search button

driver.find_element_by_xpath('/html/body/ytd-app/div[1]/div/ytd-masthead/div[3]/div[2]/ytd-searchbox/button').click()

In [ ]:
#clicking on desired option

driver.find_element_by_xpath('/html/body/ytd-app/div[1]/ytd-page-manager/ytd-search/div[1]/ytd-two-column-search-results-renderer/div/ytd-section-list-renderer/div[2]/ytd-item-section-renderer/div[3]/ytd-video-renderer[1]/div[1]/ytd-thumbnail/a/yt-img-shadow/img').click()

In [ ]:
while True:
    driver.execute_script("window.scrollTo(0, document.documentElement.scrollHeight);")
    comments=[]
    for i in driver.find_elements_by_xpath("//div[@class='style-scope ytd-expander']"):
        comments.append(i.text.replace('\n',' '))
        if len(comments)==500:
            break

In [ ]:
#scraping comment content
comments=[]
for i in driver.find_elements_by_id("content-text")[:500]:
    comments.append(i.text.replace('\n',' '))
    
#scraping up-votes:

vote=[]
for i in driver.find_elements_by_id("vote-count-middle")[0:500]:
    vote.append(i.get_attribute('innerHTML').replace('\n','').strip())
    
#scraping dates

date=[]
for i in driver.find_elements_by_xpath("//yt-formatted-string[@class='published-time-text above-comment style-scope ytd-comment-renderer']")[0:500]:
    date.append(i.text)

In [100]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'Comment':comments,'Likes':vote,'Posted on':date})
df

,Comment,Likes,Posted on
0,Probably the most creative artist of our gener...,15K,10 days ago
1,I feel like Kendrick's fashion sense always ge...,666,1 day ago
2,When N95 is #2 on trending for music and The H...,290,1 day ago
3,i dont normally like rap/hip hop but man this ...,260,2 days ago
4,This is a masterpiece. The song as well as the...,324,1 day ago
...,...,...,...
495,real ones know the “venting in the safehouse” ...,1,1 day ago
496,This song needed a visual! Kendrick deserves a...,360,10 days ago
497,2:20 “Would you sell you bro for leverage?” *B...,3,2 days ago (edited)
498,Kendrick’s music is the type people typically ...,261,7 days ago
499,Never been a huge Kendrick family but have res...,0,2 days ago

In [ ]:
#closing the driver

driver.close()

10.

In [ ]:
#lets first connect to the webdriver

driver=webdriver.Chrome('chromedriver.exe')

#opening up hostelworld.com website on automated chrome window

driver.get('https://www.hostelworld.com/')

#entering location in the search bar

driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/div/input').send_keys('London')

#clicking on search button

driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]').click()

driver.find_element_by_xpath('/html/body/div[3]/div/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[5]/button').click()

#scraping name

name=[]
for i in driver.find_elements_by_xpath("//h2[@class='title title-6']"):
    name.append(i.text)
    
#scraping description

description=[]
for i in driver.find_elements_by_xpath("//span[@class='description']"):
    description.append(i.text)
    
#now slicing for propert description and distance from centre

propertyy=[]
for i in description:
    i=i[:i.index('-')-1]
    propertyy.append(i)
    
distance=[]
for i in description:
    i=i[i.index('-')+2:]
    distance.append(i)
    
#scraping rating summary

summ=[]
for i in driver.find_elements_by_xpath("//div[@class='rating rating-summary-container big']"):
    summ.append(i.text.replace('\n',','))
    
#slicing for ratings

rating=[]
for i in summ:
    i=i[:i.index(',')]
    rating.append(i)

#scraping for over all reviews

over=[]
for i in driver.find_elements_by_xpath("//div[@class='keyword']")[2:]:
    over.append(i.text)
    
#scraping total reviews

total=[]
for i in driver.find_elements_by_xpath("//div[@class='reviews']"):
    total.append(i.text)
    
#scraping price column

price=[]
for i in driver.find_elements_by_xpath("//div[@class='price-col']"):
    price.append(i.text.replace('\n','-'))
    
#now slicing for private prices and dorm prices respectively

pvt=[]
for i in price[::2]:
    pvt.append(i)
    
dorm=[]
for i in price[1::2]:
    dorm.append(i)
    
#scraping facilities

fac=[]
for i in driver.find_elements_by_xpath("//div[@class='facilities-label facilities']"):
    fac.append(i.text.replace('\n',','))

In [ ]:
#checking the length of the lists formed

print(len(name),len(distance),len(rating),len(total),len(over),len(pvt),len(dorm),len(fac),len(propertyy))

In [65]:
#finally forming a dataframe for the extracted data

import pandas as pd

df=pd.DataFrame({'NAME':name,'DISTANCE':distance,'RATING':rating,'TOTAL REVIEWS':total,'OVER ALL REVIEW':over,'PRIVATES FROM PRICES':pvt,'DORMS FROM PRICES':dorm,'FACILITIES':fac,'PROPERTY TYPE':propertyy})
df

,NAME,DISTANCE,RATING,TOTAL REVIEWS,OVER ALL REVIEW,PRIVATES FROM PRICES,DORMS FROM PRICES,FACILITIES,PROPERTY TYPE
0,St Christopher's Village,1.8km from city centre,8.0,11182 Total Reviews,Fabulous,No Privates Available,Dorms From-Rs4226 Rs3803,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
1,Selina Camden,5.5km from city centre,9.3,23 Total Reviews,Superb,Privates From-Rs41103.26 Rs34938,No Dorms Available,Free WiFi,Hostel
2,Urbany Hostel London,5.4km from city centre,9.4,298 Total Reviews,Superb,Privates From-Rs19860,No Dorms Available,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
3,Safestay London Elephant & Castle,1.7km from city centre,7.4,4224 Total Reviews,Very Good,No Privates Available,Dorms From-Rs2950,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
4,NX London Hostel,6.1km from city centre,7.1,1121 Total Reviews,Very Good,No Privates Available,Dorms From-Rs4499.47 Rs4050,"Free WiFi,Free Breakfast",Hostel
5,St Christopher's Hammersmith,7.5km from city centre,7.8,4015 Total Reviews,Very Good,No Privates Available,Dorms From-Rs3691.9 Rs3323,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
6,St Christopher's Camden,4.3km from city centre,7.7,3761 Total Reviews,Very Good,No Privates Available,Dorms From-Rs5289.19 Rs4760,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
7,Palmers Lodge - Swiss Cottage,6.5km from city centre,9.0,15334 Total Reviews,Superb,Privates From-Rs12847,Dorms From-Rs3453,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
8,St Christopher's Greenwich,7.6km from city centre,7.5,3182 Total Reviews,Very Good,No Privates Available,Dorms From-Rs3363.44 Rs3027,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
9,St Christopher's Shepherds Bush,7km from city centre,7.5,664 Total Reviews,Very Good,No Privates Available,Dorms From-Rs4376.66 Rs3939,"Free WiFi,Follows Covid-19 sanitation guidance",Hostel
10,Saint James Backpackers,5.5km from city centre,6.8,1789 Total Reviews,Good,Privates From-Rs15459.61 Rs14687,Dorms From-Rs3984.29 Rs3785,"Free WiFi,Free Breakfast,Follows Covid-19 sani...",Hostel
11,Britannia Inn Hotel,14.5km from city centre,8.1,19 Total Reviews,Fabulous,Privates From-Rs24581,No Dorms Available,"Free Breakfast,Follows Covid-19 sanitation gui...",Hotel
12,London House Hotel,5.3km from city centre,8.6,1381 Total Reviews,Fabulous,Privates From-Rs32881.46 Rs23017,No Dorms Available,Free WiFi,Hotel
13,Kip Hotel,6.8km from city centre,8.6,53 Total Reviews,Fabulous,Privates From-Rs10025,No Dorms Available,Free WiFi,Hotel
14,The London Home Hostel,8.2km from city centre,3.7,256 Total Reviews,Rating,Privates From-Rs5944,No Dorms Available,Free WiFi,Hostel
15,Cranbrook Hotel,14.8km from city centre,No Rating,58 Total Reviews,No Rating,Privates From-Rs14234,No Dorms Available,"Free Breakfast,Follows Covid-19 sanitation gui...",Hotel
16,Colliers Hotel,2.1km from city centre,7.6,4 Total Reviews,Very Good,Privates From-Rs12531,No Dorms Available,Follows Covid-19 sanitation guidance,Hotel
17,Belgrave Hotel London,2.2km from city centre,4.6,6 Total Reviews,Rating,Privates From-Rs11150,No Dorms Available,"Free WiFi,Free Breakfast",Hotel
18,Beaconsfield,8.6km from city centre,No Rating,28 Total Reviews,No Rating,Privates From-Rs12435,No Dorms Available,Free WiFi,Hotel
19,Park Hotel Essex,24.1km from city centre,8.0,109 Total Reviews,Fabulous,Privates From-Rs24581,No Dorms Available,"Free Breakfast,Follows Covid-19 sanitation gui...",Hotel
20,Best Western Boltons London Kensington,5.4km from city centre,No Rating,2 Total Reviews,No Rating,Privates From-Rs18942,No Dorms Available,Free WiFi,Hotel

In [ ]:
#closing the driver

driver.close()