In [124]:
# Importing Libraries

import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

# Importing selenium webdriver 
from selenium import webdriver

In [149]:
driver=webdriver.Chrome('chromedriver.exe')

# Solutions:

1.

In [ ]:
#send get request to the webpage server to get the source code of the page

page = requests.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [ ]:
page

In [ ]:
soup=BeautifulSoup(page.text,'html.parser')

In [ ]:
tables=soup.find_all('td')[4:184]

In [ ]:
table=[]
for i in tables:
    table.append(i.text)

In [ ]:
table

In [ ]:
#now slicing for required data

rank=[]
for i in table[::6]:
    rank.append(i)

name=[]
for i in table[1::6]:
    name.append(i[:i.index('[')])
    
artist=[]
for i in table[2::6]:
    artist.append(i)
    
views=[]
for i in table[3::6]:
    views.append(i)
    
date=[]
for i in table[4::6]:
    date.append(i)

In [ ]:
#checking for length of the lists

print(len(rank),len(name),len(artist),len(views),len(date))

In [109]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'Rank':rank,'Title':name,'Artist':artist,'Views(in billions)':views,'Upload date':date})
df.style.set_caption('Most viewed videos on youtube')
df.set_index('Rank')

,Title,Artist,Views(in billions),Upload date
Rank,,,,
1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,10.77,"June 17, 2016"
2.,"""Despacito""",Luis Fonsi,7.87,"January 12, 2017"
3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.37,"October 8, 2016"
4.,"""Shape of You""",Ed Sheeran,5.74,"January 30, 2017"
5.,"""See You Again""",Wiz Khalifa,5.53,"April 6, 2015"
6.,"""Bath Song""",Cocomelon – Nursery Rhymes,5.42,"May 2, 2018"
7.,"""Phonics Song with Two Words""",ChuChu TV,4.66,"March 6, 2014"
8.,"""Uptown Funk""",Mark Ronson,4.59,"November 19, 2014"
9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.58,"February 27, 2018"
10.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.50,"January 31, 2012"
11.,"""Gangnam Style""",Psy,4.44,"July 15, 2012"
12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,4.11,"May 24, 2018"
13.,"""Dame Tu Cosita""",El Chombo,3.95,"April 5, 2018"
14.,"""Sugar""",Maroon 5,3.70,"January 14, 2015"
15.,"""Roar""",Katy Perry,3.60,"September 5, 2013"
16.,"""Counting Stars""",OneRepublic,3.59,"May 31, 2013"
17.,"""Sorry""",Justin Bieber,3.55,"October 22, 2015"
18.,"""Thinking Out Loud""",Ed Sheeran,3.46,"October 7, 2014"
19.,"""Axel F""",Crazy Frog,3.38,"June 16, 2009"
20.,"""Girls Like You""",Maroon 5,3.30,"May 31, 2018"
21.,"""Faded""",Alan Walker,3.29,"December 3, 2015"
22.,"""Dark Horse""",Katy Perry,3.28,"February 20, 2014"
23.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.26,"June 25, 2018"
24.,"""Let Her Go""",Passenger,3.24,"July 25, 2012"
25.,"""Bailando""",Enrique Iglesias,3.22,"April 11, 2014"
26.,"""Lean On""",Major Lazer,3.21,"March 22, 2015"
27.,"""Perfect""",Ed Sheeran,3.18,"November 9, 2017"
28.,"""Shake It Off""",Taylor Swift,3.18,"August 18, 2014"
29.,"""Waka Waka (This Time for Africa)""",Shakira,3.16,"June 4, 2010"
30.,"""Mi Gente""",J Balvin,3.09,"June 29, 2017"

2.

In [ ]:
driver.get('https://www.bcci.tv/')

In [ ]:
#clicking on international button for fixtures

inter=driver.find_element_by_xpath("//li[@class='nav-item']/a")
inter.click()

In [ ]:
#scraping the required data

title=[]
for i in driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']"):
    title.append(i.text[:8])
    
series=[]
for i in driver.find_elements_by_xpath("//h5[@class='fix-text']/span"):
    series.append(i.text)
series.remove('')

place=[]
for i in driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']"):
    place.append(i.text[11:])
    
date=[]
for i in driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']"):
    date.append(i.text)
    
time=[]
for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
    time.append(i.text)

In [ ]:
#checking length of the lists formed

print(len(title),len(series),len(place),len(date),len(time))

In [175]:
#finally forming dataframe for the extracted data

df=pd.DataFrame({'Match Title':title,'Series':series,'Location':place,'Date':date,'Time':time})
df

,Match Title,Series,Location,Date,Time
0,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,14 JUN 2022,7:00 PM IST
1,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:00 PM IST
2,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:00 PM IST

3.

In [ ]:
#loading the webpage

driver.get('https://www.guru99.com/')

In [ ]:
#clicking on selenium 

driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()
time.sleep(10)

#scrolling the page as required

driver.execute_script("window.scrollTo(0,4000)")

#clicking on selenium exceptions list

driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()

In [ ]:
#scraping the required data

#exception name

exce=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr['j for j in range(2,43)']/td[1]"):
    exce.append(i.text)

#description
descrip=[]
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr['j for j in range(2,43)']/td[2]"):
    descrip.append(i.text)

In [ ]:
#checking the length of the lists formed

print(len(exce),len(descrip))

In [148]:
df=pd.DataFrame({'Exception Name':exce,'Description':descrip})
df.style.set_caption('COMMON EXCEPTIONS LIST')

4.

In [ ]:
#loading the url

driver.get('http://statisticstimes.com/')

In [ ]:
#clicking on economy

eco=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()
india=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [ ]:
#clicking on gdp of indian states

states=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states.click()

In [ ]:
#sending request for source

page=requests.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')

#loading the content

soup=BeautifulSoup(page.text,'html.parser')
table=soup.find('table',{'id':'table_id'})

#reading the html file

df=pd.read_html(str(table))

# convert list to dataframe

df=pd.DataFrame(df)
df=df.iloc[:33,:]

In [216]:
df

    Rank                      State GSDP (Cr INR at Current prices)           \
    Rank                      State                           19-20    18-19
0    1.0                Maharashtra                               -  2632792
1    2.0                 Tamil Nadu                         1845853  1630208
2    3.0              Uttar Pradesh                         1687818  1584764
3    4.0                    Gujarat                               -  1502899
4    5.0                  Karnataka                         1631977  1493127
5    6.0                West Bengal                         1253832  1089898
6    7.0                  Rajasthan                         1020989   942586
7    8.0             Andhra Pradesh                          972782   862957
8    9.0                  Telangana                          969604   861031
9   10.0             Madhya Pradesh                          906672   809592
10  11.0                     Kerala                               -   781653
11  12.0                      Delhi                          856112   774870
12  13.0                    Haryana                          831610   734163
13  14.0                      Bihar                          611804   530363
14  15.0                     Punjab                          574760   526376
15  16.0                     Odisha                          521275   487805
16  17.0                      Assam                               -   315881
17  18.0               Chhattisgarh                          329180   304063
18  19.0                  Jharkhand                          328598   297204
19  20.0                Uttarakhand                               -   245895
20  21.0            Jammu & Kashmir                               -   155956
21  22.0           Himachal Pradesh                          165472   153845
22  23.0                        Goa                           80449    73170
23  24.0                    Tripura                           55984    49845
24  25.0                 Chandigarh                               -    42114
25  26.0                 Puducherry                           38253    34433
26  27.0                  Meghalaya                           36572    33481
27  28.0                     Sikkim                           32496    28723
28  29.0                    Manipur                           31790    27870
29  30.0                   Nagaland                               -    27283
30  31.0          Arunachal Pradesh                               -    24603
31  32.0                    Mizoram                           26503    22287
32  33.0  Andaman & Nicobar Islands                               -        -

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20    18-19
0   13.94%        399.921                               -  2039074
1    8.63%        247.629                         1312929  1215307
2    8.39%        240.726                         1166817  1123982
3    7.96%        228.290                               -  1186379
4    7.91%        226.806                         1156039  1091077
5    5.77%        165.556                          793223   739525
6    4.99%        143.179                          711627   677428
7    4.57%        131.083                          672018   621301
8    4.56%        130.791                          663258   612828
9    4.29%        122.977                          561801   522009
10   4.14%        118.733                               -   559412
11   4.10%        117.703                          634408   590569
12   3.89%        111.519                          572240   531085
13   2.81%         80.562                          414977   375651
14   2.79%         79.957                          418868   397669
15   2.58%         74.098                          396499   376877
16   1.67%         47.982                               -   234048
17   1.61%         46.187                          243477   231182
18   1.57%         45.145                          240036   224986
19   1.30%         37.351                               -   193273
20   0.83%         23.690                               -   112755
21   0.81%         23.369                          124403   117851
22   0.39%         11.115                           63408    57787
23   0.26%          7.571                           40583    36963
24   0.22%          6.397                               -    31192
25   0.18%          5.230                           25093    23013
26   0.18%          5.086                           26695    24682
27   0.15%          4.363                           20017    18722
28   0.15%          4.233                           20673    19300
29   0.14%          4.144                               -    17647
30   0.13%          3.737                               -    16676
31   0.12%          3.385                           18797    16478
32       -              -                               -        -

5.

In [150]:
driver.get('https://github.com/')

In [162]:
#clicking on trending

driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
time.sleep(2)

#getting link

link=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
link.get_attribute('href')

'https://github.com/trending'

In [166]:
#requesting for source code

page=requests.get('https://github.com/trending')
page

In [167]:
#loading the content

soup=BeautifulSoup(page.content,'html.parser')

In [163]:
#getting the webpage on automated driver

driver.get('https://github.com/trending')

In [164]:
#scraping the required data

#name

name=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    name.append(i.text)

['lxgr-linux / pokete',
 'CeresDB / ceresdb',
 'sheepla / pingu',
 'geekan / HowToLiveLonger',
 'TheAlgorithms / Python',
 'zhiqi-li / BEVFormer',
 'freeCodeCamp / freeCodeCamp',
 'n3r4zzurr0 / svg-spinners',
 'still-scene / t3',
 'hashicorp / raft',
 'ionic-team / ionic-framework',
 '4ra1n / tomcat-jmxproxy-rce-exp',
 'lucacasonato / fresh',
 'winsiderss / systeminformer',
 'prettier / prettier',
 'dotnetcore / FastGithub',
 'AzureAD / microsoft-authentication-library-for-js',
 'yanfeizhang / coder-kung-fu',
 'spring-projects / spring-framework',
 'knadh / dns.toys',
 'thanos-io / thanos',
 'hashicorp / go-plugin',
 'actions / virtual-environments',
 'callstack / react-native-paper',
 'mapbox / mapbox-gl-js']

In [165]:
#description

descrip=[]
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']"):
    descrip.append(i.text)

['A terminal based Pokemon like game',
 'CeresDB is a high-performance, distributed, schema-less, cloud native time-series database that can handle both time-series and analytics workloads.',
 '🐧ping command but with pingu',
 "程序员延寿指南 | A programmer's guide to live longer",
 'All Algorithms implemented in Python',
 'This is the official implementation of BEVFormer, a camera-only framework for autonomous driving perception, e.g., 3D object detection and semantic map segmentation.',
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 'A collection of 24 x 24 dp SVG spinners!',
 'A new tooll implementation with Dear ImGUI',
 'Golang implementation of the Raft consensus protocol',
 'A powerful cross-platform UI toolkit for building native-quality iOS, Android, and Progressive Web Apps with HTML, CSS, and JavaScript.',
 'Apache Tomcat JMXProxy RCE',
 'Preact, but super edgy',
 'A free, powerful, multi-purpose tool that helps you monitor system resources, debug software and detect malware. Brought to you by Winsider Seminars & Solutions, Inc. @ http://www.windows-internals.com',
 'Prettier is an opinionated code formatter.',
 'github加速神器，解决github打不开、用户头像无法加载、releases无法上传下载、git-clone、git-pull、git-push失败等问题',
 'Microsoft Authentication Library (MSAL) for JS',
 '开发内功修炼',
 'Spring Framework',
 'A DNS server that offers useful utilities and services over the DNS protocol. Weather, world time, unit conversion etc.',
 'Highly available Prometheus setup with long term storage capabilities. A CNCF Incubating project.',
 'Golang plugin system over RPC.',
 'GitHub Actions virtual environments',
 'Material Design for React Native (Android & iOS)',
 'Interactive, thoroughly customizable maps in the browser, powered by vector tiles and WebGL']

In [168]:
# language used

lang=[]
for i in soup.find_all('span',{'itemprop':'programmingLanguage'}):
    lang.append(i.text)
lang

['Python',
 'Rust',
 'Go',
 'Python',
 'Python',
 'TypeScript',
 'SVG',
 'C#',
 'Go',
 'TypeScript',
 'Go',
 'TypeScript',
 'C',
 'JavaScript',
 'C#',
 'TypeScript',
 'C',
 'Java',
 'Go',
 'Go',
 'Go',
 'PowerShell',
 'TypeScript',
 'JavaScript']

In [169]:
#filling the missing value
name.index('geekan / HowToLiveLonger')
lang.insert(3,'naN')

3

In [177]:
#contributor count

count=[]
for i in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
    count.append(i.text)
count

['1,426',
 '60',
 '395',
 '41',
 '1,099',
 '25',
 '17,898',
 '1,125',
 '138,092',
 '35,852',
 '534',
 '44',
 '347,421',
 '28,768',
 '1,376',
 '88',
 '242',
 '7',
 '5,965',
 '802',
 '47,404',
 '13,652',
 '150',
 '29',
 '1,467',
 '59',
 '7,428',
 '1,059',
 '42,834',
 '3,350',
 '6,820',
 '946',
 '2,395',
 '1,992',
 '3,094',
 '570',
 '48,049',
 '33,948',
 '1,430',
 '49',
 '10,464',
 '1,598',
 '3,564',
 '292',
 '6,005',
 '2,154',
 '9,228',
 '1,658',
 '8,652',
 '1,956']

In [182]:
countf=[]

for i in count[::2]:
    countf.append(i)

In [183]:
countf

['1,426',
 '395',
 '1,099',
 '17,898',
 '138,092',
 '534',
 '347,421',
 '1,376',
 '242',
 '5,965',
 '47,404',
 '150',
 '1,467',
 '7,428',
 '42,834',
 '6,820',
 '2,395',
 '3,094',
 '48,049',
 '1,430',
 '10,464',
 '3,564',
 '6,005',
 '9,228',
 '8,652']

In [184]:
#checking length of the lists formed

print(len(name),len(descrip),len(countf),len(lang))

25 25 25 25

In [185]:
#finally forming dataframe for the extracted data

df=pd.DataFrame({'Name':name,'Description':descrip,'Contributors Count':countf,'Language Used':lang})
df.style.set_caption('TRENDING REPOSITORIES ON GITHUB.COM')

6.

In [ ]:
#loading the url

driver.get('https:/www.billboard.com/')

In [ ]:
#clicking on charts button

charts=driver.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
charts.click()

In [ ]:
#clicking on view chart button

view=driver.find_element_by_xpath('/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view.click()

In [ ]:
#scraping whole chart information list

chart=[]
for i in driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']"):
    chart.append(i.text.split("\n"))
    
#deleting unnecessary information

for i in range(99):
    if len(chart[i])==7:
        del chart[i][1]
        
#scraping the required data

song=[]
for i in range(100):
    song.append(chart[i][1])
    
artist=[]
for i in range(100):
    artist.append(chart[i][2])
    
lastweek=[]
for i in range(100):
    lastweek.append(chart[i][3])
    
peak=[]
for i in range(100):
    peak.append(chart[i][4])
    
weeks=[]
for i in range(100):
    weeks.append(chart[i][5])

In [ ]:
#checking length of the lists formed

print(len(song),len(artist),len(lastweek),len(peak),len(weeks))

In [75]:
#finally forming a dataframe for the extracted data 

df=pd.DataFrame({'Song':song,'Artist':artist,'Last Week':lastweek,'Peak pos.':peak,'Weeks on chart':weeks})
df.style.set_caption('HOT-100 ON BILLBOARD.COM')

7.

In [ ]:
#loading the url

driver.get('https://www.naukri.com/')

In [ ]:
#clicking on job button

driver.find_element_by_xpath('/html/body/div/div[2]/div[1]/div/ul/li[1]').click()

In [ ]:
driver.get('https://www.naukri.com/browse-jobs')
time.sleep(7)

#clicking on recruiter option

driver.find_element_by_xpath('/html/body/div[1]/div/ul/li[2]/a/div').click()

In [ ]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')
time.sleep(7)

#entering data science and clicking on search button

driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input').send_keys('Data Science')

driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button').click()

In [ ]:
#scraping the  required data

name=[]
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)

desig=[]
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    desig.append(i.text)
    
company=[]
for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
    company.append(i.text)
    
loc=[]
for i in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
        loc.append(i.text)

skills=[]
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(i.text)

In [ ]:
loc.insert(28,'naN')
loc.insert(47,'naN')

In [ ]:
#checking length of the lists formed

print(len(name),len(desig),len(company),len(loc),len(skills))

In [108]:
#finally forming a dataframe for the extracted data 

df=pd.DataFrame({'Name':name,'Designation':desig,'Company':company,'Location':loc,'Skills they hire for':skills})
df.style.set_caption('DATA SCIENCE RECRUITER ON NAUKRI.COM')

In [ ]:
#closing the driver

driver.close()

8.

In [ ]:
#loading the website 

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [ ]:
#sending request for source code

page=requests.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
page

In [ ]:
#getting the the content

soup=BeautifulSoup(page.content,'html.parser')

#scraping the whole table

table=soup.find('table',class_='in-article sortable')
table

#reading the html file

df=pd.read_html(str(table))
df

In [21]:
#converting into dataframe

df=pd.DataFrame(df)
df=df.iloc[:,:100]
df.set_index('Rank',inplace=True)
df.style.set_caption('TOP 100 BEST SELLING BOOKS OF ALL TIME')

9.

In [ ]:
#loading the website on driver

driver.get('https://www.imdb.com/list/ls095964455/')

#requesting webpage server for source code

page=requests.get('https://www.imdb.com/list/ls095964455/')
print(page)

#loading the content

soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
#scraping name

name = soup.find_all("h3", class_="lister-item-header")
# get text from series name web elements
series_name = [] #empty list
for i in name:
    for j in i.find_all("a"):
        series_name.append(j.text)


# Year of release
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
year_span = [] #empty list
for k in year:
    a=k.text.replace('(','')
    year_span.append(a.replace(')','')) 


      
# IMDB Rating
rating = soup.find_all("div",class_="ipl-rating-star small")

# scrape text from rating web element
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))
        
#run time 

run=[]
for i in soup.find_all('span',class_='runtime'):
    run.append(i.text)

#genre

genre=[]
for i in soup.find_all('span',class_='genre'):
    genre.append(i.text.replace('\n','').strip())
    
#votes

vote=[]
for i in driver.find_elements_by_name("nv"):
    vote.append(i.text)

In [ ]:
#checking the length of the lists formed

print(len(series_name),len(year_span),len(rating),len(run),len(genre),len(vote))

In [70]:
#finally forming a dataframe for the extracted data

df=pd.DataFrame({'Name':series_name,'Year span':year_span,'Run-time':run,'Genre':genre,'Rating':(rating),'Votes':vote})
df.style.set_caption('TOP 100 MOST WATCHED TV SHOWS OF ALL TIME')

10.

In [ ]:
#loading the website

driver.get('https://archive.ics.uci.edu/')

In [ ]:
#clicking on view all option

driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a').click()

In [ ]:
#sending request for source code

page=requests.get('https://archive.ics.uci.edu/ml/datasets.php')

print(page)

#loading the content

soup=BeautifulSoup(page.content,'html.parser')

In [101]:
#scraping the whole table into html format

table=soup.find('table',{'border':'1'})

#reading the html file

df=pd.read_html(str(table))
df

#converting the list into dataframe

df=pd.DataFrame(df[0])
df=df.rename(columns=df.iloc[0,:])
df=df.iloc[1:,:]
df.style.set_caption('UCI Machine Learning Repository: Data Sets')